<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommender</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Discover Movies with Swapnil Magar's Recommender System</h1>
        <form method="post">
            <label for="movie">Select a Movie:</label>
            <select class="label2" id="movie" name="movie" required>
                <option value="" disabled selected>Choose a movie</option>
                {% for movie in movie_list %}
                    <option value="{{ movie }}">{{ movie }}</option>
                {% endfor %}
            </select><br>
            <button type="submit">Get Recommendations</button>
        </form>
        <h2>Suggestions</h2>
        <ul>
            {% for rec in recommendations %}
                <li>{{ rec }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
